* {
    padding: 0px;
    margin: 0px;
    font-family: Georgia;
}

body{
    background-color: #ededed;
}

.home{
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    padding: 25px;
    min-width: 250px;

}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    margin-bottom: 0px;

}

.in-flex div {
    padding: 25px;
}

.img-foto{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 250px;
    height: 45px;
    
}
.logo{
    padding-left: 10px;
}
.centrar{
    text-align: center;
    padding-top: 0px;
}
.titulo{
   text-align: center;
    padding-top: 5px; 
}
.espacio{
    padding-left: 15px;
}